version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:20.0
    working_directory: ~/app
    steps:
      - checkout
      - run: npm install
      - run: npm run test # CI-2 Lab Requirement
      - run: npm run build

  deploy:
    machine: true # Use full VM for SSH access
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:DPuRWg3POnV1IJuxaXWlso/EsVaon10J5l9CU5E3RJ0"
      - run:
          name: Deploy to EC2
          command: |
            ssh -o StrictHostKeyChecking=no deployer@44.202.31.30 \<< 'EOF'
              bash ~/ClothesShop/deploy.sh
            EOF

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
